{% liquid
  assign pt = block.settings.pt | prepend: 'pt-'
  assign pb = block.settings.pb | prepend: 'pb-'
%}

<div
  class="product-block-related-product-type {{ pt }} {{ pb }}"
  {{ block.shopify_attributes }}
>
  {% unless block.settings.title == blank %}
    <h2 class="title mb-5 {{ block.settings.title_font_size }}">
      {{ block.settings.title }}
    </h2>
  {% endunless %}

  {% assign raw_product_types = block.settings.product_types | downcase %}
  {% assign product_types = raw_product_types | split: ',' %}

  {% unless product_types == blank %}
    {% assign current_handle = product.handle %}
    {% assign search_term = current_handle %}
    {% assign related_products = '' %}

    {% for type in product_types %}
      {% assign search_term = search_term | remove: type %}
    {% endfor %}

    {% for type in product_types %}
      {% assign related_product_handle = search_term | append: type %}
      {% if related_product_handle != current_handle %}
        {% assign related_product = all_products[related_product_handle] %}
        {% if related_product != blank %}
          {% assign related_products = related_products | append: related_product.handle | append: ',' %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign related_products_array = related_products | split: ',' %}

    {% if related_products_array.size == 0 %}
      <h1>No related products found</h1>
    {% else %}
      {% for handle in related_products_array %}
        {% assign related_product = all_products[handle] %}
        {% if related_product != blank %}
          <div class="product-list mx-n4 mb-0 row d-none">
            <div class="p-3 p-desktop-4 col-6" role="list-item">
              {% render 'product-card', product: related_product %}
            </div>
          </div>

          <a
            href="{{ related_product.url | within: collection }}"
            class="product-card-link"
          >
            <div class="d-flex">
              <div>
                {% render 'image-url',
                  img: related_product.featured_image,
                  orientation: settings.product_card_img_orientation,
                  class: settings.product_card_img_border
                %}
              </div>
              <div class="ms-5 fs-sm">
                <h6 class="">{{ related_product.title }}</h6>
                <div class="">
                  {% render 'product-card-price', product: related_product %}
                </div>
              </div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endunless %}
</div>
